html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body, p, form, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

menu, blockquote, form, figure, figcaption {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color:cornflowerblue;
}

ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
input, textarea, button {
  padding: 0;
  border: 0;
  outline: none;
}
table {
  border-collapse: collapse;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.justify-fix:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/*=====================================*/
.resize {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  flex: 1 0 auto;
}

header .top-line {
  padding: 20px 0 15px;
}

header .logo {
  display: block;
}

header nav {
  margin-left: 32px;
}

header nav ul {
  display: flex;
}

header nav li {
  margin-left: 20px;
}

header nav li a {
  display: block;
  color: #464547;
  text-transform: uppercase;
  font: 700 16px/2.7em Arial, Helvetica, sans-serif;
  transition: color 0.2s ease;
}

header nav li a:hover {
  color: #39c2d7;
}

header .banner {
  position: relative;
}

header .banner img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

header .banner .resize {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

header .banner .motto {
  padding: 50px 0 130px;
  width: 35%;
  height: 100%;
  font: 600 32px/1.5em Arial, Helvetica, sans-serif;
  color: #fff;
  overflow-y: hidden;
}
/*=====================================*/
main {
  flex: 1 0 auto;
  padding-top: 20px;
}

main .resize .row {
  margin-bottom: 20px;
}

main .resize a.panel {
  display: block;
  width: 33.3333333%;
}

main .resize a.panel:nth-child(even) {
  margin: 0 20px;
}

main .resize a.panel figure {
  display: block;
  min-height: 100%;
  padding: 10px 10px 20px;
  color: #333;
  background-color: #ccc;
  transition: background-color 0.2s ease;
}

main .resize a.panel figure:hover  {
  background-color: #39c2d7;
}

main .resize a.panel figure img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

main .resize a.panel figure p:nth-child(1) {
  margin-bottom: 7px;
  font: 700 15px/1.2em Arial, Helvetica, sans-serif;
}

main .resize a.panel figure p:nth-child(2) {
  font: 13px/1.2em Arial, Helvetica, sans-serif;
}
/*=====================================*/
footer {
  flex: 0 0 auto;
  padding: 20px 0;
  color: #fff;
  background-color: #39c2d7;
}

footer .resize {
  display: flex;
}

footer nav ul {
  display: flex;
}

footer nav ul li {
  margin-right: 20px;
}

footer nav ul a {
  color: inherit;
  font: 700 15px/1.2em Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

footer nav ul a:hover {
  text-decoration: none;
}

footer .copyright {
  font: 700 15px/1.2em Arial, Helvetica, sans-serif;
}