html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body, p, form, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

menu, blockquote, form, figure, figcaption {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color:cornflowerblue;
}

ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
input, textarea, button {
  padding: 0;
  border: 0;
  outline: none;
}
table {
  border-collapse: collapse;
}
.fl, .fl-xl  {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after,
.clearfix-xl:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.justify-fix:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/*=====================================*/
.resize {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  flex: 1 0 auto;
}

header .top-line {
  padding: 20px 0 15px;
}

header .logo {
  display: block;
}

header nav {
  margin-left: 32px;
}

header nav ul {
  display: flex;
}

header nav li {
  margin-left: 20px;
}

header nav li a {
  display: block;
  color: #464547;
  text-transform: uppercase;
  font: 700 16px/2.7em Arial, Helvetica, sans-serif;
  transition: color 0.2s ease;
}

header nav li a:hover {
  color: #39c2d7;
}

header .banner {
  position: relative;
}

header .banner img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

header .banner .resize {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

header .banner .motto {
  padding: 50px 0 130px;
  width: 35%;
  height: 100%;
  font: 600 32px/1.5em Arial, Helvetica, sans-serif;
  color: #fff;
  overflow-y: hidden;
}
/*=====================================*/
main {
  flex: 1 0 auto;
  padding-top: 20px;
}

main .resize .row {
  margin-left: -10px;
  margin-right: -10px;
  flex-wrap: wrap;
}

main .resize a.panel {
  display: block;
  padding: 0 10px;
  margin-bottom: 20px;
  width: 33.3333333%;
}

main .resize a.panel figure {
  display: block;
  min-height: 100%;
  padding: 10px 10px 20px;
  color: #333;
  background-color: #ccc;
  transition: background-color 0.2s ease;
}

main .resize a.panel figure:hover  {
  background-color: #39c2d7;
}

main .resize a.panel figure img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

main .resize a.panel figure p:nth-child(1) {
  margin-bottom: 7px;
  font: 700 15px/1.2em Arial, Helvetica, sans-serif;
}

main .resize a.panel figure p:nth-child(2) {
  font: 13px/1.2em Arial, Helvetica, sans-serif;
}
/*=====================================*/
footer {
  flex: 0 0 auto;
  padding: 20px 0;
  color: #fff;
  background-color: #39c2d7;
}

footer .resize {
  display: flex;
}

footer nav ul {
  display: flex;
}

footer nav ul li {
  margin-right: 20px;
}

footer nav ul a {
  color: inherit;
  font: 700 15px/1.2em Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

footer nav ul a:hover {
  text-decoration: none;
}

footer .copyright {
  font: 700 15px/1.2em Arial, Helvetica, sans-serif;
}
/*=====================================*/
@media screen and (max-width: 900px) {
  .fl-xl {
    float: none;
  }
  .fr-xl {
    float: none;
  }
  .clearfix-xl:after {
    content: none;
  }

  .resize {
    padding: 0 20px;
    max-width: 100%;
  }

  header .top-line {
    padding-top: 30px;
  }

  header .logo {
    text-align: center;
  }

  header nav {
    margin-left: 0;
  }
  header ul {
    justify-content: center;
  }

  header ul li {
    margin: 0;
  }
  header ul li a {
    padding: 0 13px;
  }

  header .banner {
    max-height: 100%;
    overflow-x: hidden;
  }

  header .banner img {
    min-height: 530px;
    width: auto;
    max-width: none;
  }
  
  header .banner .motto {
    width: 100%;
    padding: 50px 130px 130px;
    text-align: center;
    font-weight: 400;
  }

  main .resize a.panel {
    width: 50%;
  }

  main .resize a.panel figure img {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  footer .resize {
    flex-wrap: wrap;
    flex-direction: column;
  }

  footer .resize nav {
    margin-bottom: 20px;
  }

  footer .resize nav ul {
    justify-content: center;
  }

  footer .resize .copyright {
    text-align: center;
  }
}

/*=====================================*/
@media screen and (max-width: 575px) {
  .resize {
    padding: 0;
  }

  header .top-line {
    padding: 10px 0 0;
  }

  header .logo {
    margin-bottom: 5px;
  }

  header ul {
    flex-direction: column;
    background: #eee;
    border-top: #ccc 1px solid;
  }

  header ul li {
    padding-left: 20px;
    border-bottom: #ccc 1px solid; 
  }

  header ul li a {
    padding: 0;
  }

  header .banner img {
    height: 245px;
    min-height: auto;
  }

  header .banner .motto {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px 20px;
  }

  header .banner .motto span {
    display: block;
    padding: 15px 10px;
    background-color: #39c2d7;
    font: 600 16px/1.5em Arial, Helvetica, sans-serif;
  }

  main .resize {
    padding-left: 20px;
    padding-right: 20px;
  }

  main .resize a.panel {
    width: 100%;
  }

  footer .resize nav {
    margin-bottom: 10px;
  }

  footer nav ul {
    flex-direction: column;
  }
  footer nav ul li {
    margin: 0 0 5px;
  }

  footer nav ul li a {
    display: block;
    text-align: center;
  }
}